# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# OS
.DS_Store
Thumbs.db

# Project-specific
secret.key
input_images/
output_stego/

# Editor (optional)
.vscode/
.idea/
